@using AzureNamingTool.Models;
<p>
    La pagina <span class="fw-bold">Log Amministratore</span> mostra un registro di tutte le azioni amministrative eseguite nell'applicazione Azure Naming Tool.
</p>
<p>
    <img style="width:600px;" class="img-fluid" src="Screenshots/AdminLog1.png" alt="Log Amministratore" />
</p>
<div class="card">
    <h5 class="card-header bg-default text-dark">
        Sezioni/Azioni della Pagina
    </h5>
    <div class="card card-body @theme!.ThemeStyle">
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <p>
                    <span class="fw-bold">Esporta Log Amministratore</span>
                </p>
                <p>Questa opzione permette di esportare il <span class="fw-bold">Log Amministratore</span> in un file CSV.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <p>
                    <span class="fw-bold">Elimina Log Amministratore</span>
                </p>
                <p>
                    Questa opzione eliminerà tutti i dati del <span class="fw-bold">Log Amministratore</span>. Questa azione non può essere annullata!
                </p>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}