@using AzureNamingTool.Models;
<p>
    L'utilità <span class="fw-bold">Amministrazione</span> permette all'utente di visualizzare le informazioni sulla versione, configurare le impostazioni del sito, aggiornare password/chiavi e cancellare la cache del sito.
</p>
<p>
    <img style="width:600px;" class="img-fluid" src="Screenshots/AdminConfiguration.png" alt="Configurazione amministratore" />
</p>
<div class="card">
    <h5 class="card-header bg-default text-dark">
        Sezioni/Azioni della Pagina
    </h5>
    <div class="card card-body @theme!.ThemeStyle">
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Dettagli Versione</h5>
                <p>Questa sezione mostra la versione corrente dello strumento, insieme a eventuali avvisi di versione.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Personalizzazione</h5>
                <div>
                    <p>Questa sezione permette di personalizzare il sito Azure Naming Tool con contenuti personalizzati per la Home, loghi personalizzati e altre configurazioni.</p>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fw-bold">Contenuto Home Personalizzato</span>
                            <p>
                                Puoi inserire contenuto personalizzato in formato <span class="fw-bold">Markdown</span> che verrà visualizzato nella pagina <span class="fw-bold">Home</span>. Questo può essere utilizzato per fornire informazioni aggiuntive agli utenti.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Sicurezza</h5>
                <div>
                    <p>Questa sezione permette la configurazione delle impostazioni di identità, se si utilizza un provider di identità per l'autenticazione.</p>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fw-bold">Password Amministratore Globale</span>
                            <p>
                                Questa sezione permette di aggiornare la <span class="fw-bold">password dell'Amministratore Globale</span> per lo strumento.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">Chiavi API</span>
                            <p>
                                Questa sezione permette di aggiornare le <span class="fw-bold">Chiavi API di Accesso Completo e Sola Lettura</span> per lo strumento.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}