@using AzureNamingTool.Models;
<p>
    La pagina <span class="fw-bold">Password Amministratore</span> consente di modificare la password di amministratore globale per Azure Naming Tool.
</p>
<p>
    <img style="width:600px;" class="img-fluid" src="Screenshots/AdminPasswordPrompt.png" alt="Richiesta password Amministratore Globale" />
</p>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}