@using AzureNamingTool.Models;
<p>
    Il <span class="fw-bold">Registro dei Nomi Generati</span> mostra tutti i nomi generati utilizzando Azure Naming Tool, insieme ai componenti selezionati.
</p>
@if (admin)
{
    <p>
        <img style="width:600px;" class="img-fluid" src="Screenshots/GeneratedNamesLogAdmin.png" alt="Registro dei Nomi Generati" />
    </p>
}
else
{
    <p>
        <img style="width:600px;" class="img-fluid" src="Screenshots/GeneratedNamesLog.png" alt="Registro dei Nomi Generati" />
    </p>
}
<div class="card">
    <h5 class="card-header bg-default text-dark">
        Sezioni/Azioni della Pagina
    </h5>
    <div class="card card-body @theme!.ThemeStyle">
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Esporta Registro dei Nomi Generati</h5>
                <p>
                    Questa funzionalità permette di esportare i nomi generati in un file CSV. L'opzione <span class="fw-bold">Filtro</span> può essere utilizzata per specificare i nomi da esportare.
                </p>
            </div>
        </div>
        @if (admin)
        {
            <div class="card">
                <div class="card-body @theme!.ThemeStyle">
                    <h5>Elimina Registro dei Nomi Generati</h5>
                    <p>
                        Questa opzione eliminerà tutti i dati del <span class="fw-bold">Registro dei Nomi Generati</span>. Questa azione non può essere annullata!
                    </p>
                </div>
            </div>
        }
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}