@using AzureNamingTool.Models;
<p>
    La pagina <span class="fw-bold">Riferimento</span> fornisce un esempio di ogni tipo di risorsa Azure utilizzando la convenzione di denominazione definita. Gli esempi di valori non includono componenti di denominazione esclusi. I componenti opzionali sono sempre visualizzati e sono identificati sotto l'esempio. Poiché i nomi univoci sono richiesti solo a ambiti specifici, gli esempi forniti sono generati solo per gli ambiti superiori all'ambito della risorsa: gruppo di risorse, gruppo di risorse e regione, regione, globale, sottoscrizione e tenant.
</p>
<p>
    <img style="width:600px;" class="img-fluid" src="Screenshots/ReferencePage.png" alt="Pagina di Riferimento" />
</p>
<div class="card">
    <h5 class="card-header bg-default text-dark">
        Sezioni/Azioni della Pagina
    </h5>
    <div class="card card-body @theme!.ThemeStyle">
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Esempio</h5>
                <p>
                    Questa sezione mostra un nome di esempio generato per il tipo di risorsa utilizzando i componenti attuali.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Componenti</h5>
                <p>
                    Questa sezione mostra la prima opzione per ogni componente. Questi componenti vengono utilizzati per generare il nome di esempio.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Linee Guida di Denominazione</h5>
                <p>
                    Questa sezione mostra le linee guida di denominazione per il tipo di risorsa.
                </p>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}