@using AzureNamingTool.Models;
<p>
    La pagina <span class="fw-bold">Password Amministratore</span> consente di modificare la password di amministratore globale per Azure Naming Tool.
</p>
<div class="card">
    <h5 class="card-header bg-default text-dark">
        Sezioni/Azioni della Pagina
    </h5>
    <div class="card card-body @theme!.ThemeStyle">
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Modifica Password Amministratore Globale</h5>
                <p>
                    Questa funzionalità consente di modificare la password di amministratore globale per Azure Naming Tool. La password deve soddisfare i seguenti requisiti:
                </p>
                <ul>
                    <li>Almeno 8 caratteri</li>
                    <li>Almeno una lettera maiuscola</li>
                    <li>Almeno una lettera minuscola</li>
                    <li>Almeno un numero</li>
                    <li>Almeno un carattere speciale</li>
                </ul>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}