@using AzureNamingTool.Models;
<p>
    La pagina <span class="fw-bold">Log Amministratore</span> mostra un registro di tutte le azioni amministrative eseguite nell'applicazione Azure Naming Tool.
</p>
<div class="card">
    <h5 class="card-header bg-default text-dark">
        Sezioni/Azioni della Pagina
    </h5>
    <div class="card card-body @theme!.ThemeStyle">
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Esporta Log Amministratore</h5>
                <p>
                    Questa funzionalità consente di esportare il log dell'amministratore in un file CSV. L'opzione <span class="fw-bold">Filtro</span> può essere utilizzata per specificare le voci da esportare.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Elimina Log Amministratore</h5>
                <p>
                    Questa opzione eliminerà tutti i dati del <span class="fw-bold">Log Amministratore</span>. Questa azione non può essere annullata!
                </p>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}