@using AzureNamingTool.Models;
<p>
    Quando il sito viene installato per la prima volta, l'applicazione richiederà l'impostazione della <span class="fw-bold">password dell'Amministratore Globale</span>. Questa password permette l'accesso alla configurazione dello strumento.
</p>
<p>
    <img style="width:600px;" class="img-fluid" src="Screenshots/AdminPasswordPrompt.png" alt="Richiesta password Amministratore Globale" />
</p>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}