@using AzureNamingTool.Models;
<p>
    La pagina <span class="fw-bold">Configurazione</span> viene utilizzata per visualizzare/impostare la configurazione dello strumento e dei componenti di denominazione delle risorse. Questa pagina è suddivisa in più sezioni. Ogni sezione mostra la configurazione dei singoli componenti.
</p>
@if (admin)
{
    <p>
        <img style="width:600px;" class="img-fluid" src="Screenshots/ConfigurationPageAdmin.png" alt="Configurazione" />
    </p>
}
else
{
    <p>
        <img style="width:600px;" class="img-fluid" src="Screenshots/ConfigurationPage.png" alt="Configurazione" />
    </p>
}
@if (admin)
{
    <div class="card mb-3">
        <h5 class="card-header bg-default text-dark">
            Configurazione di Base
        </h5>
        <div class="card card-body @theme!.ThemeStyle">
            <p>
                Questa sezione fornisce la possibilità di configurare i componenti di base necessari per la generazione dei nomi delle risorse.
            </p>
            <div class="card">
                <div class="card-body @theme!.ThemeStyle">
                    <h5>
                        Componenti
                    </h5>
                    <p>
                        Questa sezione permette la configurazione dei componenti che verranno utilizzati per la generazione dei nomi delle risorse. I componenti possono essere abilitati/disabilitati, ordinati e modificati.
                    </p>
                    <p>
                        La sezione <span class="fw-bold">Configurazione Globalmente Opzionale/Configurazione Globalmente Esclusa</span> permette di aggiungere/rimuovere il componente per <span class="fw-bold">TUTTI</span> i tipi di risorse.
                    </p>
                    <p>
                        Utilizza la sezione <span class="fw-bold">Tipi di Risorse</span> per aggiornare la configurazione dei singoli tipi di risorse.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body @theme!.ThemeStyle">
                    <h5>
                        Delimitatori
                    </h5>
                    <p>
                        Azure Naming Tool permette l'utilizzo di un delimitatore tra i componenti quando viene generato un nome. Questa sezione permette la selezione del delimitatore. Nel caso in cui un tipo di risorsa non consenta il delimitatore selezionato, questo verrà rimosso.
                    </p>
                </div>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}