@using AzureNamingTool.Models;
<p>
    La pagina <span class="fw-bold">Genera</span> fornisce un menu a discesa per selezionare un tipo di risorsa Azure. Una volta selezionata una risorsa, vengono fornite le opzioni dei componenti di denominazione. I componenti di sola lettura non possono essere modificati, come il valore per un tipo di risorsa. I componenti opzionali, se non selezionati, saranno nulli e non verranno mostrati nell'output. I componenti obbligatori non consentono un valore nullo e richiederanno una selezione dal menu.
</p>
<p>
    <img style="width:600px;" class="img-fluid" src="Screenshots/Generate.png" alt="Genera" />
</p>
<div class="card">
    <h5 class="card-header bg-default text-dark">
        Sezioni/Azioni della Pagina
    </h5>
    <div class="card card-body @theme!.ThemeStyle">
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Modalità di Generazione</h5>
                <p>
                    Questa sezione consente di selezionare la modalità di generazione dei nomi delle risorse. Sono disponibili due opzioni:
                </p>
                <ul>
                    <li><span class="fw-bold">Genera Nome Risorsa Singola</span> - Questa opzione consente la generazione di un singolo nome di tipo di risorsa utilizzando i componenti selezionati.</li>
                    <li><span class="fw-bold">Genera Nomi Risorse Multiple</span> - Questa opzione consente la generazione di nomi per più tipi di risorse utilizzando i componenti selezionati. Tutti i componenti saranno richiesti (Componenti Opzionali ed Esclusi).</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Tipo di Risorsa</h5>
                <p>
                    Questa sezione consente di selezionare il tipo di risorsa desiderato. È possibile filtrare i tipi di risorse per categoria.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Linee Guida per la Denominazione</h5>
                <p>
                    Questa sezione mostra le linee guida per la denominazione del tipo di risorsa selezionato. Include informazioni sui requisiti di lunghezza, caratteri consentiti e altre restrizioni.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Opzioni Componenti</h5>
                <p>
                    Questa sezione consente di selezionare le opzioni per ciascun componente della convenzione di denominazione. I componenti obbligatori devono essere selezionati, mentre i componenti opzionali possono essere omessi.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Genera</h5>
                <p>
                    Questa sezione mostra il nome generato per la risorsa Azure in base ai componenti selezionati. È possibile copiare il nome generato negli appunti.
                </p>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}